@model QLTV.Models.Entity.Employee
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .action-picker i {
        margin-right: 1em;
        cursor: pointer;
    }

    .pagination {
        margin-left: 1em;
    }

    .page-link-active {
        color: blue !important;
    }

    .page-item {
        cursor: pointer;
    }

    #input-area {
        display: none;
    }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Simple Tables</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Simple Tables</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="col-md-12 card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <button class="btn btn-default"><i class="fas fa-search"></i></button>
                                    <button class="btn btn-default" onclick="ShowHide();"><i class="fas fa-plus"></i></button>
                                </div>
                            </div>
                        </div>

                        <!-- general form elements -->
                        <div id="input-area" class="col-md-12 card card-primary">
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form id="employee-form" action="/" method="post">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
                                            <label for="Code">Mã</label>
                                            <input type="text" class="form-control" id="Id" name="Id" hidden>
                                            <input type="text" class="form-control" id="Code" name="Code" placeholder="Mã">
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
                                            <label for="FirstName">Họ</label>
                                            <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="Họ">
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
                                            <label for="LastName">Tên</label>
                                            <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Tên">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
                                            <label for="Email">Email</label>
                                            <input type="email" class="form-control" id="Email" name="Email" placeholder="Email">
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
                                            <label for="Password">Mật khẩu</label>
                                            <input type="password" class="form-control" id="Password" name="Password" placeholder="Mật khẩu">
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
                                            <label for="Phone">Số điện thoại</label>
                                            <input type="text" class="form-control" id="Phone" name="Phone" placeholder="Số điện thoại">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
                                            <label for="DOB">Ngày sinh</label>
                                            <input type="date" class="form-control" id="DOB" name="DOB">
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
                                            <label for="Gender">Giới tính</label>
                                            <div class="row">
                                                <div class="custom-control custom-radio mr-4">
                                                    <input class="custom-control-input" type="radio" id="customRadio1" name="Gender" value="0">
                                                    <label for="customRadio1" class="custom-control-label">Nam</label>
                                                </div>
                                                <div class="custom-control custom-radio mr-4">
                                                    <input class="custom-control-input" type="radio" id="customRadio2" name="Gender" value="1">
                                                    <label for="customRadio2" class="custom-control-label">Nữ</label>
                                                </div>
                                                <div class="custom-control custom-radio mr-4">
                                                    <input class="custom-control-input" type="radio" id="customRadio3" name="Gender" value="2">
                                                    <label for="customRadio3" class="custom-control-label">Khác</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
                                            <label for="Note">Chú thích</label>
                                            <input type="text" class="form-control" id="Note" name="Note" placeholder="Chú thích">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="button" class="btn btn-primary" onclick="Add();">Submit</button>
                            </div>
                        </div>
                        <!-- /.card -->
                        <div id="table-engine" class="card-body table-responsive p-0">
                            @{Html.RenderAction("Pagging", "Employee");}
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div>
    </section>
</div>
<script src="~/Content/Plugins/sweetalert2/sweetalert2.all.js"></script>
<script>
    function Refresh(destination, pageIndex) {
        console.log(destination);
        console.log(pageIndex);
        $.ajax({
            url: '/Admin/Employee/Pagging',
            type: 'GET',
            dataType: 'html',
            data: { pageIndex: pageIndex },
        })
            .done(function (res) {
                $(destination).html(res);
            })
            .fail(function () {
                console.log("error");
            })
            .always(function () {
                console.log("complete");
            });
    }

    function Add() {
        let data = $('#employee-form').serialize();
        console.log(data);
        $.ajax({
            url: '/Admin/Employee/Add',
            type: 'POST',
            dataType: 'json',
            data: data,
        })
            .done(function (res) {
                if (res.StatusCode == 200) {
                    toastr.success('Thêm mới thành công!', 'Success !!!');
                    // Refresh()
                }
                else {
                    toastr.error(res.Message, 'Error !!!');
                    // duyệt từng lỗi
                    // item
                    // JS Jquery $('input[name="'+item.name-error+'"]').
                }
            })
            .fail(function () {
                console.log("error");
            })
            .always(function () {
                console.log("complete");
            });
    }


    function Update() {
        let data = $('#employee-form').serialize();
        console.log(data);
        $.ajax({
            url: '/Admin/Employee/Update',
            type: 'POST',
            dataType: 'json',
            data: data,
        })
            .done(function (res) {
                if (res.StatusCode == 200) {
                    toastr.success('Cập nhật thành công!', 'Success !!!');
                    // Refresh()
                }
                else {
                    toastr.error(res.Message, 'Error !!!');
                    // duyệt từng lỗi
                    // item
                    // JS Jquery $('input[name="'+item.name-error+'"]').
                }
            })
            .fail(function () {
                console.log("error");
            })
            .always(function () {
                console.log("complete");
            });
    }


    function Delete(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                let data = { employeeId: id };
                $.ajax({
                    url: '/Admin/Employee/Delete',
                    type: 'POST',
                    dataType: 'json',
                    data: data,
                })
                    .done(function (res) {
                        if (res.StatusCode == 200) {
                            toastr.success('Xóa thành công!', 'Success !!!');
                            // Refresh()
                        }
                        else {
                            toastr.error(res.Message, 'Error !!!');
                            // duyệt từng lỗi
                            // item
                            // JS Jquery $('input[name="'+item.name-error+'"]').
                        }
                    })
                    .fail(function () {
                        console.log("error");
                    })
                    .always(function () {
                        console.log("complete");
                    });
            }
        })
    }

    function ShowHide() {
        if ($("#input-area").first().is(":hidden")) {
            $("#input-area").slideDown();
        } else {
            $("#input-area").hide();
        }
    }
</script>
